<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find auv_gazebo)/launch/pool.launch" />
  <include file="$(find auv_gazebo)/launch/bottom_objects.launch" />
  <include file="$(find auv_gazebo)/launch/AUV_spawn.launch" />

  <!-- Connection with simulator -->
  <node pkg="stingray_communication" name="gazebo_bridge" type="gazebo_bridge" output="$(arg ros_output)" respawn="true" />

</launch>
