<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="rov_model_urdf" command="$(find xacro)/xacro '$(find rov_model_urdf)/urdf/rov_model_urdf.xacro'"/>

  <node name="rov_model_urdf_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
  args="-urdf -param rov_model_urdf -x 35.7 -y 0.8 -z -1 -R 1.5708 -P 0 -Y 1.5708 -model rov_model_urdf" />

</launch>
