<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="main_gate" />
        <arg name="x" value="24.06314645270529" />
        <arg name="y" value="12.0" />
        <arg name="z" value="3.2" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/main_gate/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="qualification_gate" />
        <arg name="x" value="9.163202361365567" />
        <arg name="y" value="4.9675748985661325" />
        <arg name="z" value="3.2" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="1.57079" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/qualification_gate/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="starting_gates" />
        <arg name="x" value="35.0" />
        <arg name="y" value="0.8" />
        <arg name="z" value="3.2" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/starting_gates/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="yellow_flare_1" />
        <arg name="x" value="27.824824573847025" />
        <arg name="y" value="16.174867850953866" />
        <arg name="z" value="3.2" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/yellow_flare/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="yellow_flare_2" />
        <arg name="x" value="25.194741717031835" />
        <arg name="y" value="15.553286420057882" />
        <arg name="z" value="3.2" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/yellow_flare/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="buckets" />
        <arg name="x" value="35.16108852205939" />
        <arg name="y" value="15.28167008523938" />
        <arg name="z" value="1.21" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/buckets/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="white_marker" />
        <arg name="x" value="36.66108852205939" />
        <arg name="y" value="15.28167008523938" />
        <arg name="z" value="1.21" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/white_marker/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="red_flare" />
        <arg name="x" value="22.450370492454994" />
        <arg name="y" value="4.014940866866084" />
        <arg name="z" value="3.2" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/red_flare/model.sdf" />
    </include>

</launch>