<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="small_hoop" />
        <arg name="x" value="0" />
        <arg name="y" value="0" />
        <arg name="z" value="0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/teknofest/small_hoop/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="big_hoop" />
        <arg name="x" value="0" />
        <arg name="y" value="0" />
        <arg name="z" value="0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/teknofest/big_hoop/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="gate" />
        <arg name="x" value="0" />
        <arg name="y" value="0" />
        <arg name="z" value="0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/teknofest/gate/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="target_circle" />
        <arg name="x" value="0" />
        <arg name="y" value="0" />
        <arg name="z" value="0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/teknofest/target_circle/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="target_square" />
        <arg name="x" value="0" />
        <arg name="y" value="0" />
        <arg name="z" value="0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/teknofest/target_square/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="target_triangle" />
        <arg name="x" value="0" />
        <arg name="y" value="0" />
        <arg name="z" value="0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/teknofest/target_triangle/model.sdf" />
    </include>

    <include file="$(find spawn_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="pinger" />
        <arg name="x" value="40.0" />
        <arg name="y" value="12.0" />
        <arg name="z" value="3.2" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_sdf)/models/teknofest/pinger/model.sdf" />
    </include>
</launch>