<?xml version="1.0"?>
<robot
  name="pool">
  <link
    name="Base_link">
    <inertial>
      <origin
        xyz="-8.9797E-16 3.0259E-15 0.75567"
        rpy="0 0 0" />
      <mass
        value="12379000" />
      <inertia
        ixx="935560000"
        ixy="-5.1E-07"
        ixz="2.8051E-08"
        iyy="3143500000"
        iyz="6.3008E-08"
        izz="4066800000" />
    </inertial>
    
    <!--visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pool/meshes/Base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.40392 0.92941 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pool/meshes/Base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Bottom_link">
    <inertial>
      <origin
        xyz="-0.18042 1.0283 -1.0133E-13"
        rpy="0 0 0" />
      <mass
        value="25244" />
      <inertia
        ixx="1315900"
        ixy="36721"
        ixz="5.5138E-08"
        iyy="6673200"
        iyz="1.0883E-09"
        izz="5359600" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pool/meshes/Bottom_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pool/meshes/Bottom_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Bottom_part"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Base_link" />
    <child
      link="Bottom_link" />
    <axis
      xyz="0 0 0" />
  </joint-->
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pool/meshes/pool_final.DAE" />
      </geometry>
      <!--material
        name="">
        <color
          rgba="0.40392 0.92941 1 1" />
      </material-->
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pool/meshes/pool_final.DAE" />
      </geometry>
    </collision>
  </link>
</robot>
