<?xml version="1.0"?>
<robot
  name="base" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find base)/urdf/materials.xacro" />
  <xacro:include filename="$(find base)/urdf/base.gazebo" />
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0336838343452882 -1.61851849854105E-10 0.584506925721933"
        rpy="0 0 0" />
      <mass
        value="65983.2189639755" />
      <inertia
        ixx="33469.0667415686"
        ixy="0.000109399065291687"
        ixz="-388.725781780484"
        iyy="72264.7980558923"
        iyz="-0.000102203871250873"
        izz="83289.7207381633" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/base_link.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Front1_Link">
    <inertial>
      <origin
        xyz="0 0.05 0"
        rpy="0 0 0" />
      <mass
        value="0.5236" />
      <inertia
        ixx="0.0005236"
        ixy="0"
        ixz="0"
        iyy="0.0005236"
        iyz="0"
        izz="0.0005236" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/Front1_Link.STL" />
      </geometry>
      <material
        name="green">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/Front1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front1_joint"
    type="fixed">
    <origin
      xyz="-1.084 0.50054 1.528"
      rpy="1.5708 -2.2681E-18 -0.03705" />
    <parent
      link="base_link" />
    <child
      link="Front1_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Front2_Link">
    <inertial>
      <origin
        xyz="0 0.05 1.1102E-16"
        rpy="0 0 0" />
      <mass
        value="0.5236" />
      <inertia
        ixx="0.0005236"
        ixy="0"
        ixz="0"
        iyy="0.0005236"
        iyz="0"
        izz="0.0005236" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/Front2_Link.STL" />
      </geometry>
      <material
        name="green">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/Front2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front2_joint"
    type="fixed">
    <origin
      xyz="-1.084 -0.50054 1.528"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Front2_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Back1_Link">
    <inertial>
      <origin
        xyz="0 0.05 -1.1102E-16"
        rpy="0 0 0" />
      <mass
        value="0.5236" />
      <inertia
        ixx="0.0005236"
        ixy="0"
        ixz="1.3553E-20"
        iyy="0.0005236"
        iyz="0"
        izz="0.0005236" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/Back1_Link.STL" />
      </geometry>
      <material
        name="orange">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/Back1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Back1_joint"
    type="fixed">
    <origin
      xyz="1.084 0.50054 1.528"
      rpy="1.5708 7.4498E-18 0.12197" />
    <parent
      link="base_link" />
    <child
      link="Back1_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Back2_Link">
    <inertial>
      <origin
        xyz="0 0.05 1.1102E-16"
        rpy="0 0 0" />
      <mass
        value="0.5236" />
      <inertia
        ixx="0.0005236"
        ixy="0"
        ixz="0"
        iyy="0.0005236"
        iyz="0"
        izz="0.0005236" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/Back2_Link.STL" />
      </geometry>
      <material
        name="purple">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/Back2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Back2_joint"
    type="fixed">
    <origin
      xyz="1.084 -0.50054 1.528"
      rpy="1.5708 -3.9421E-18 -0.064426" />
    <parent
      link="base_link" />
    <child
      link="Back2_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Marker_Link">
    <inertial>
      <origin
        xyz="1.462E-15 -0.64552 -0.23515"
        rpy="0 0 0" />
      <mass
        value="37.502" />
      <inertia
        ixx="3.9461"
        ixy="1.1471E-14"
        ixz="-1.1054E-15"
        iyy="5.6092"
        iyz="0.84562"
        izz="7.5218" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/Marker_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://base/meshes/Marker_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Marker_joint"
    type="fixed">
    <origin
      xyz="-1.157 0 0"
      rpy="-1.5708 -6.123E-17 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="Marker_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
