<?xml version="1.0"?>
<model>
  <name>pillow</name>
  <version>0.1.0</version>
  <author>
   <name>tristochief117</name>
   <email>x@x.com</email>
  </author>
  <sdf>model.sdf</sdf>
  <description>
    Pillow Model in sdf Gazebo Answers Question.
    http://answers.gazebosim.org/question/20591/the-minimum-corner-of-the-box-must-be-less-than-or-equal-to-maximum-corner-failed-sdf-model/
  </description>
</model>
