<?xml version="1.0"?>
<robot
  name="rov_model_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="cameraSize" value="0.005"/>
  <xacro:property name="cameraMass" value="0.01"/>

  <xacro:include filename="$(find rov_model_urdf)/urdf/materials.xacro" />
  <xacro:include filename="$(find rov_model_urdf)/urdf/rov_model_urdf.gazebo" />
 
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="5.34818886692229" />
      <inertia
        ixx="0.121283356250234"
        ixy="0.00114080615956075"
        ixz="-3.36356954034503E-05"
        iyy="0.189191244269149"
        iyz="-6.89655590354059E-06"
        izz="0.138419224644112" />
    </inertial>
    <visual>
      <origin
              xyz="0 0.05 -0.25"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.001 0.001 0.001"
          filename="package://rov_model_urdf/meshes/Cousteau.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.05 -0.25"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.001 0.001 0.001"
          filename="package://rov_model_urdf/meshes/Cousteau.stl" />
      </geometry>
    </collision>
  </link>

  <!--Camera front-->
  <link name="camera_front">
    <visual>
      <origin xyz="0 -0.3 0.1" rpy="0 0 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>

  <!--Camera front sterio-->
  <link name="camera_front_left">
    <visual>
      <origin xyz="0.05 -0.3 0.1" rpy="0 0 -1.5708"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>

  <link name="camera_front_right">
    <visual>
      <origin xyz="-0.05 -0.3 0.1" rpy="0 0 -1.5708"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>

  <!--Camera bottom-->
  <link name="camera_bottom">
    <visual>
      <origin xyz="0 -0.2 -0.23" rpy="0 1.5708 0"/>
      <geometry>
        <box size="${cameraSize} ${cameraSize} ${cameraSize}"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>

  <joint name="camera_joint_fl" type="fixed">
    <axis xyz="0 0 0" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_front_left"/>
  </joint>

  <joint name="camera_joint_fr" type="fixed">
    <axis xyz="0 0 0" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_front_right"/>
  </joint>

  <joint name="camera_joint_f" type="fixed">
    <axis xyz="0 0 0" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_front"/>
  </joint>

  <joint name="camera_joint_b" type="fixed">
    <axis xyz="0 0 0" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_bottom"/>
  </joint>

</robot>
