<?xml version="1.0"?>
<robot
  name="rov_model_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.016963 -0.044368 -7.3439E-06"
        rpy="0 0 0" />
      <mass
        value="5.5151" />
      <inertia
        ixx="0.12433"
        ixy="-0.0012054"
        ixz="-6.9971E-05"
        iyy="0.19334"
        iyz="5.3973E-06"
        izz="0.14096" />
    </inertial>
    <visual>
      <origin
        xyz="0 0.05 -0.2"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.001 0.001 0.001"
          filename="package://rov_model_urdf/meshes/Cousteau.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.05 -0.2"
        rpy="0 0 0" />
      <geometry>
        <mesh scale="0.001 0.001 0.001"
          filename="package://rov_model_urdf/meshes/Cousteau.stl" />
      </geometry>
    </collision>
  </link>

</robot>
