<?xml version="1.0"?>
<robot name="rov_example" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <!-- Input debug flag -->
  <xacro:arg name="debug" default="0"/>

  <!-- Vehicle's namespace -->
  <xacro:arg name="namespace" default="rov_model_urdf"/>

  <!-- Include the ROV macro file -->
  <!--xacro:include filename="$(find rov_model_urdf)/urdf/rov_model_urdf.xacro"/-->

  <!-- Create the rov_example -->
  <xacro:rov_example_base namespace="$(arg namespace)" debug="$(arg debug)"/>

  <!-- Joint state publisher plugin -->
  <gazebo>
    <plugin name="joint_state_publisher" filename="libjoint_state_publisher.so">
      <robotNamespace>$(arg namespace)</robotNamespace>
      <updateRate>50</updateRate>
    </plugin>
  </gazebo>

</robot>
