<robot
  name="buckets">
  <link
    name="base_green">
    <inertial>
      <origin
        xyz="2.8272 -0.077022 0.0025"
        rpy="0 0 0" />
      <mass
        value="80" />
      <inertia
        ixx="26.667"
        ixy="5.181E-15"
        ixz="-3.1133E-17"
        iyy="426.67"
        iyz="1.6364E-15"
        izz="453.33" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Buckets/meshes/base_green.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Buckets/meshes/base_green.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Bucket_1_Link">
    <inertial>
      <origin
        xyz="-3.8164E-17 0.2323 -1.1102E-16"
        rpy="0 0 0" />
      <mass
        value="469.79" />
      <inertia
        ixx="79.945"
        ixy="-8.3732E-15"
        ixz="-2.176E-14"
        iyy="123.59"
        iyz="-2.3009E-14"
        izz="79.945" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Buckets/meshes/Bucket_1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Buckets/meshes/Bucket_1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Bucket_1"
    type="fixed">
    <origin
      xyz="-0.29023 0.0018647 0"
      rpy="1.5708 -1.985E-16 1.6399" />
    <parent
      link="base_green" />
    <child
      link="Bucket_1_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="Bucket_2_Link">
    <inertial>
      <origin
        xyz="-2.0817E-16 0.2323 2.2204E-16"
        rpy="0 0 0" />
      <mass
        value="469.79" />
      <inertia
        ixx="79.945"
        ixy="-9.471E-16"
        ixz="-6.3949E-14"
        iyy="123.59"
        iyz="-1.4616E-14"
        izz="79.945" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Buckets/meshes/Bucket_2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Buckets/meshes/Bucket_2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Bucket_2"
    type="fixed">
    <origin
      xyz="1.7098 0.0018647 0"
      rpy="1.5708 2.3421E-16 1.6354" />
    <parent
      link="base_green" />
    <child
      link="Bucket_2_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="Bucket_3_Link">
    <inertial>
      <origin
        xyz="-6.8001E-16 0.2323 -8.8818E-16"
        rpy="0 0 0" />
      <mass
        value="469.79" />
      <inertia
        ixx="79.945"
        ixy="6.3819E-15"
        ixz="2.6867E-14"
        iyy="123.59"
        iyz="3.1879E-14"
        izz="79.945" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Buckets/meshes/Bucket_3_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Buckets/meshes/Bucket_3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Bucket_3"
    type="fixed">
    <origin
      xyz="3.7098 0.0018647 0"
      rpy="1.5708 6.1211E-17 1.5454" />
    <parent
      link="base_green" />
    <child
      link="Bucket_3_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="Bucket_4_Link">
    <inertial>
      <origin
        xyz="-3.0531E-16 0.2323 -8.8818E-16"
        rpy="0 0 0" />
      <mass
        value="469.79" />
      <inertia
        ixx="79.945"
        ixy="-1.696E-14"
        ixz="-4.9072E-14"
        iyy="123.59"
        iyz="5.0574E-14"
        izz="79.945" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Buckets/meshes/Bucket_4_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Buckets/meshes/Bucket_4_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Bucket_4"
    type="fixed">
    <origin
      xyz="5.7098 0.0018647 0"
      rpy="1.5708 6.1226E-17 1.5822" />
    <parent
      link="base_green" />
    <child
      link="Bucket_4_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
</robot>
