<?xml version="1.0"?>
<robot
  name="gates_final">
  <link
    name="Base_parent_link">
    <inertial>
      <origin
        xyz="-0.00577427136703015 0.0496763085286102 0.0933867101522411"
        rpy="0 0 0" />
      <mass
        value="229.586609287268" />
      <inertia
        ixx="67.198190725204"
        ixy="0.00454175008895657"
        ixz="-0.130430807521452"
        iyy="103.515348732259"
        iyz="1.12210192840381"
        izz="106.257541756022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gates_final/meshes/Base_parent_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="105 105 105 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gates_final/meshes/Base_parent_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Left_link">
    <inertial>
      <origin
        xyz="-0.73 0.75 2.8423E-19"
        rpy="0 0 0" />
      <mass
        value="14.812" />
      <inertia
        ixx="2.7787"
        ixy="-4.2936E-34"
        ixz="0"
        iyy="0.0029624"
        iyz="7.3896E-34"
        izz="2.7787" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gates_final/meshes/Left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="255 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gates_final/meshes/Left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_part"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Base_parent_link" />
    <child
      link="Left_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Right_link">
    <inertial>
      <origin
        xyz="0.73 0.75 9.5828E-19"
        rpy="0 0 0" />
      <mass
        value="14.812" />
      <inertia
        ixx="2.7787"
        ixy="-4.2936E-34"
        ixz="0"
        iyy="0.0029624"
        iyz="-8.1642E-34"
        izz="2.7787" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gates_final/meshes/Right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 255 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gates_final/meshes/Right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_part"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Base_parent_link" />
    <child
      link="Right_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
